{% extends "index.html" %} {% block header %}Home{% endblock %} {% block content
%}

<br />
<h1 align="center">Notes</h1>

<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">{{ note.note }}</li>
  {% endfor %}
</ul>

<form method="POST">
  <textarea
    name="note"
    id="note"
    class="form-control"
    placeholder="Enter your note"
    required
  ></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add note</button>
  </div>
</form>
{% endblock %}
